body
{
	background-color: #000000;
	font-family: 'Share Tech', sans-serif;
}

#galaxy
{
	width: 100%;
	height: 100%;
	background-image: url("images/galaxy.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#cockpit
{
	width: 100%;
	height: 100%;
	background-image: url("images/cockpit.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#radio
{
	position: absolute;
	width: 50%;
	padding-top: 33%;
	bottom: 5%;
	left: 50%;
	margin-left: -25%;
	background-image: url("images/radio.png");
	background-size: 100%;
}

#knob
{
	position: absolute;
	width: 33%;
	padding-top: 33%;
	top: 24%;
	left: 52.5%;
	background-image: url("images/knob.png");
	background-size: 100%;
}

#knob canvas
{
	position: absolute;
	top: 0;
	width: 100%;
	opacity: 0.01;
}

#station
{
	position: absolute;
	top: 26%;
	left: 15%;
	width: 25%;
	font-size: 4vw;
	text-align: center;
	color: #999;
}
